<div>
  <div class="row text-center mt-2 mb-5">
    <div class="container m-auto">
      <ng-container *ngIf="service.images">
        <div class="my-5 text-center">
          <h3 class="text-capitalize">{{service.title}}</h3>
          <p>{{service.description}}</p>
        </div>
      
        <div class="row" gallerize>
          <ng-container *ngFor="let image of service.images; let ix = index">
            <div class="col-sm-12 col-md-6 col-lg-4 pb-3 px-2 position-relative">
              <img class="w-100" src="{{image.src}}">
              <p  *ngIf="image.shoutout" class="shoutout">{{image.shoutout}}</p>  
            </div>
          </ng-container>
        </div>
      </ng-container>

      <hr class="my-3">

      <div>
        <h3 class="py-4">{{service.itemHeader}}</h3>
        <div class="px-md-5 service-list">

          <!-- ADD TRACK BY -->
          <ng-container *ngFor="let item of service.items">
            <span *ngIf="item.title" class="h5 font-weight-bold">{{item.title}}</span>
            <p>{{item.content}}</p>
          </ng-container>
          <a class="btn btn-outline-primary mt-5 mb-4" [routerLink]="['/inquire']">Inquire Now!</a>
        </div>
      </div>
    </div>
  </div>
</div>
