.navbar {

    .btn-toggle {
        border: none;
        background: transparent;
        outline: none;
        cursor: pointer;
    }
    
    .navbar-brand {
        img {
            height: 40px;
        }
    }

    .navbar-nav {
        a {
            font-weight: 400;
            font-style: normal;
            font-size: 13px;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 1em;
        }

        &.show {
            .insta {
                position: absolute;
                right: 20px;
            }
        }
    }
}