<div>
  <app-banner 
    header="Hi, there!"
    image="../../assets/images/banners/banner-7.jpg"
    banner="banner-7"
  ></app-banner>

  <div class="row text-center my-5">
    <div class="col-12 col-sm-9 m-auto">

      <img class="col-8 mb-4 col-sm-6 col-md-5 col-lg-4 mx-auto round-50" src="../../assets/images/lauren.jpg">
    
      <!-- <h3 class="border-bottom d-inline-block mb-4">Who we are</h3> -->
      <p class="h4">
        I’m honored you have taken the time to learn a little about me and what I love to do! Calligraphy started out as a hobby for me, and has slowly (I have children, after all!) turned into a business filled with a passion for making elegant words come to life. I come from a large artistic family, and have learned from some of the best.
        When it comes to my time, I enjoy being with my husband and two little boys. I am blessed to be able to call this my job, alongside raising my children in beautiful Carlsbad, California. I look forward to working with you!
      </p>
    </div>
  </div>
</div>