<div class="">
  <div class="container px-2 px-sm-0">
    <div class="row">
      <div class="col-12 px-1">
        <app-banner 
          [overlay]="false" 
          image="../../assets/images/banners/banner-0.jpg"
          banner="banner-0"
        ></app-banner>    
        </div>
      </div>
  </div>

  <div class="services-offered container mb-5 mx-auto px-2 px-md-0">
    <div class="row services text-center mt-2">
      <ng-container *ngFor="let service of services;">
        <div class="col-12 col-sm-4 mb-4 service px-1">
          <div class="hover-wrapper">
            <img class="mb-2 pointer" [src]="service.thumbnail" [routerLink]="['services', service.slug]"/>
          </div>
          <h5 class="my-3 text-uppercase pointer text-right font-weight-bold " [routerLink]="['services', service.slug]">{{service.title}}</h5>
          <p class="font-weight-lighter text-right">{{service.description}}</p>
          <div class="text-right">
            <a class="btn btn-outline-primary" [routerLink]="['/inquire']">Inquire</a>
          </div>
        </div>      
      </ng-container>

      <hr class="col-12 py-3">

      <div class="row text-center bg-light">
        <h4 class="col-12 col-lg-8 m-auto my-2 font-weight-lighter py-4">
          Here at Miller Makers we are committed to making sure the small details shine through. Whether you want elements for the day of your event, or want your guests to receive elegantly addressed envelopes, we’ve got you covered!
        </h4>
      </div>
    </div>
  </div>

  <hr class="mt-5 py-3">

  <div class="container">
    <div class="row mb-5 mx-auto">
      <div class="col-12 col-sm-3 text-center">
        <img class="meet-img round-50" src="../../assets/images/lauren.jpg">
      </div>
      <div class="col-12 col-sm-9 text-center mt-3 mt-md-0">
        <h1>Hey, there! I'm Lauren Miller,</h1>
        <p class="intro font-weight-lighter mx-md-5 h4 mb-4">
          the calligrapher and designer behind Miller Makers. I’m honored you have taken the time to learn a little about me and what I love to do!
        </p>
        <button class="btn btn-primary" [routerLink]="['/meet']">Learn More</button>
      </div>
    </div>
  </div>
</div>

